

/* Centering the signup container */
.signup-container {
  width: 100%;
  max-width: 450px;
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin: 75px auto;
}

/* Form content */
.signup-form {
  text-align: center;
}

.signup-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 600;
}

/* Form group (input label & input field) */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 14px;
  color: #ccc;
}

/* Input field */
input {
  width: 93%;
  padding: 14px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #333;
  font-size: 16px;
  background-color: #2c2c2c;
  color: #ddd;
  transition: background-color 0.3s ease, border 0.3s ease;
}

input:focus {
   border-color:#00e6e6;;
  background-color: #333;
  outline: none;
}

/* Signup button */
button.signup-btn {
  width: 100%;
  padding: 14px;
  background-color: #00e6e6;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button.signup-btn:hover {
  background-color: #00b3b3;
  transform: scale(1.05);
}

/* login link */
.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  text-decoration: none;
  color: #00e6e6;
  font-size: 14px;
  transition: color 0.3s ease;
}

.login-link a:hover {
  color: #00b3b3;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
  .signup-container {
    padding: 30px;
    max-width: 70%;
  }

  .signup-form h2 {
    font-size: 24px;
  }

  .form-group input {
    font-size: 14px;
    padding: 12px;
  }

  button.signup-btn {
    font-size: 14px;
    padding: 12px;
  }
}
